
@{
    ViewBag.Title = "Sites de Lançamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    iframe {
        margin-top: 50px;
        height: 500px;
        width: 100%;
    }
</style>
<div class="container">
    <div class="row">
        <iframe src="https://app.powerbi.com/view?r=eyJrIjoiYjFkZTllNWQtNDUwNi00YjE5LWEwNDMtMGI5ZWE5NDViMTZkIiwidCI6IjYxODUxZjk5LTc5NGUtNDJlMC1iNTk0LWZhMGUwOTNlMGRmNSJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>

