
@{
    ViewBag.Title = "Lançamentos Por Agência";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    iframe{
        margin-top: 50px;
        height: 500px;
        width: 100%;
    }
</style>
<div class="container">
    <div class="row">
        <iframe src="https://app.powerbi.com/view?r=eyJrIjoiMGUzMjFkOGYtOWI1OC00NzRjLTg3NTctYjBjMjI0MjNiZDk4IiwidCI6IjYxODUxZjk5LTc5NGUtNDJlMC1iNTk0LWZhMGUwOTNlMGRmNSJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>

