
@{
    ViewBag.Title = "Espaço Porto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    iframe{
        margin-top: 50px;
        height: 700px;
        width: 100%;
    }
</style>
<div class="container">
    <div class="row">
        <iframe src="https://app.powerbi.com/view?r=eyJrIjoiMjA4YTIxODAtZTMwMi00ODA2LWEyNTItZDczMzgzOTRiMDE5IiwidCI6IjZjNzAwODVhLTU2OTMtNGQxMy1iMWM3LTBmZjZlZjU2OWU1NCJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>

