@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h2 class="tituloLancamentosFuturos">Lançamentos Futuros</h2>
</head>
<body>
    <div>
        <iframe width="1100" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiNDk1OTQyNjktNjRhYi00MDM1LWI3MzUtZTZhM2E0ZTQ0ZTRiIiwidCI6IjYxODUxZjk5LTc5NGUtNDJlMC1iNTk0LWZhMGUwOTNlMGRmNSJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</body>
</html>