@{
    ViewBag.Title = "Home Page";
}
<link href="~/assets/css/icons/icomoon/styles.css" rel="stylesheet" />
<link href="~/assets/css/extras/animate.min.css" rel="stylesheet" />
<style>
    #content-principal {
        padding: 30px 0px 0px 0px;
    }

    .grid-principal {
        padding: 10px;
        margin: 10px 0px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    }

        .grid-principal:hover {
            box-shadow: 2px 2px 7px midnightblue;
        }

            .grid-principal:hover .text-grid {
                background-color: midnightblue;
                color: white;
                border-top: 1px solid white;
            }

    .text-grid {
        border-top: 1px solid white;
        padding: 20px;
        background-color: azure;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    .grid-principal img {
        height: 250px;
        width: 100%;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
    }

    .resumo-grid {
        width: auto;
        display: none;
        /*padding: 20px;*/
        position: absolute;
        background-color: rgba(0,0,0,0.7);
        color: white;
    }
</style>


<div class="row" id="content-principal">
    @foreach (var grid in Model.ListaGrids)
    {
        <div class="col-sm-4">
            <div class="grid-principal">
                <span class="resumo-grid"> Resumo do Grid</span>
                <div><img src="@grid.UrlImagem" class="img-responsive" /></div>
                <div class="text-grid">@grid.Text</div>
            </div>
        </div>
    }
</div>
@section scripts {
    <script src="~/Static/Scripts/Modules/Util/animation_css_config.js"></script>
    <script>
        $(document).ready(function () {

            $('.grid-principal').mouseover(function () {
                let span = $(this).children().first();
                span.show().animateCss("fadeInDown");
            });
            $('.grid-principal').mouseout(function () {
                let span = $(this).children().first();
                span.hide();
            });
        });
    </script>
}
